<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="{{color}}">
  <mat-toolbar-row>
  <span>Changes color</span>
  <span class="example-spacer"></span>
    <div class="button-row">
      <button (click)="colorChange()" mat-raised-button color="{{color}}">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">format_color_fill</mat-icon>
      </button>
    </div>
  <mat-icon class="example-icon">favorite</mat-icon>
  <mat-icon class="example-icon">delete</mat-icon>
</mat-toolbar-row>
</mat-toolbar>
<div class="wraper">
  <div (click)="reversText()" [ngClass]="{primary: isPressed}" class="circle">
    <div [class.active]="isPressed" class="text">{{text.text}}<span>{{text.span}}</span></div>
  </div>
  <app-inner (childEmitter)="updateEvent($event)"></app-inner>
</div>
